.footer {
    color: white;
    padding: 25px;
    background: rgb(19, 24, 38);
}

.footer h1 {
    font-size: 25px;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover {
    color: #ffefba;
}
.input-group input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
}
.newsletter-form button{
    margin-top: 10px;
    width: 80%;
    padding: 8px;
    border-radius: 10px;
}